/* Empty. Add your own CSS if you like */
#icona-rosa {
  height: 34px;
  width: 34px;
}

.lol-pic {
  height: 20vmin;
  width: 20vmin;
}

#randomLetter {
  font-size: 130px;
  text-align: center;
  color: #f7c600;
}

.champion-box {
  display: inline-block;
  margin: 1vmin;
  text-align: center;
  color: #f7c600;
}

.pane {
        background-color: #062c2c;
    }
